@media (max-width: 420px) {
  .Mobile {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #d7eff7;
    display: grid;
    grid-template-rows: 10vh 79vh 10vh;
  }
}
